:root {
  --main-color: #2e2f42;
  --logo-button-color: #4d5ae5;
  --text-color: #434455;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}
.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}
button {
  cursor: pointer;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: #ffffff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*Хедер*/
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.page-header-container {
  display: flex;
  justify-content: space-between;
}
.page-navigation {
  display: flex;
  align-items: center;
}
.contacts-list {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}
.logo-second-word {
  color: var(--main-color);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logotype {
  color: var(--logo-button-color);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.page-header {
  background: #fff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.menu-list {
  color: var(--main-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  gap: 40px;
}
.line {
  color: #404bbf;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link-studio {
  display: block;
  color: #404bbf;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-decoration: none;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line::after {
  content: "";
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  margin-top: 24px;
}

.menu-link {
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-decoration: none;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
}
.contacts-link {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
/* Секція 1 */
.big-board {
  background: var(--main-color);
  line-height: 1.07;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;

  background-size: cover;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.main-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  padding-bottom: 48px;
  margin-left: auto;
  max-width: 496px;
  margin-right: auto;
}
.order-service {
  background: var(--logo-button-color);
  color: var(--white, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-service:hover,
.order-service:focus {
  background-color: #404bbf;
}
/* Секція 2 */
.about-us-list {
  display: flex;
  gap: 24px;
}
.about-us {
  padding: 120px 0;
}
.about-us-item {
  width: calc((100% - 72px) / 4);
}
.box-for-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}
.about-us-icon {
}

.about-us-title {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.about-us-text {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* Секція 3 */
.team {
  background: #f4f4fd;
  padding: 120px 0;
}
.team-title {
  color: var(--main-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-list-item {
  background: #fff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-list-fullname-text-container {
  padding: 32px 0;
}
.team-list-img {
  border-radius: 0px 0px 4px 4px;
}
.team-list-fullname {
  color: var(--main-color);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-list-text {
  color: var(--text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.social-personal-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.social-personal-items {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.personal-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.personal-social-link:hover,
.personal-social-link:focus {
  background-color: #404bbf;
}

/* Секція 4 */
.portfolio {
  background: #fff;
  padding: 120px 0;
}
.portfolio-main-title {
  color: var(--main-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  list-style-type: none;
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
}

.portfolio-item {
  margin: 0;
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item-container {
  display: flex;
  padding: 32px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-item:hover .overlay {
  transform: translateY(0%);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-overlay-container {
  position: relative;
  overflow: hidden;
}
.overlay {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--logo-button-color);
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-product {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-text {
  color: var(--text-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
/* Футтер */
.footer {
  background: #2e2f42;

  padding: 100px 0;
}
.footer-wrapper {
  display: flex;
  align-items: baseline;
}
.link-text-footer {
  margin-right: 120px;
}
.social-title-footer {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.social-icons-list-footer {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.social-icons-item-footer {
  width: 40px;
  height: 40px;
}
.social-icons-link-footer {
  width: 100%;
  height: 100%;
  background-color: var(--logo-button-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-footer {
  fill: #f4f4fd;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons-link-footer:hover,
.social-icons-link-footer:focus {
  background-color: #31d0aa;
}
.logotype-footer {
  color: var(--logo-button-color);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}
.logo-second-word-footer {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-text {
  color: #f4f4fd;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  max-width: 265px;
}
